body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#buscaInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.restaurante-item {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.restaurante-item h3 {
    margin: 0 0 10px;
}

.restaurante-item p {
    margin: 5px 0;
}

.rating {
    color: #ffcc00;
    font-size: 20px;
}
  
button {
    width: 10%;
    padding: 10px;
    background-color: hsl(39, 96%, 48%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  