.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}
  
button {
    width: 32%;
    padding: 10px;
    background-color: hsl(39, 96%, 48%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button + button {
    margin-left: 4%;
}
  
#message {
    margin-top: 10px;
    font-weight: bold;
}

.img {
    width: 10px;
    height: 10px;
}

.banner {
    z-index: 1;
}