<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/Components/ProductPage/Products.css">
</head>
<body class="d-flex justify-content-start">
    <section class="form-body d-flex justify-content-center align-items-center w-50">
        <form action="/Components/ProductPage/Products.php"  id="productForm">
            <div class="form-floating mt-4 mb-3">
                <input type="text" class="form-control" id="nomeProduto" placeholder="name@example.com">
                <label for="floatingInput">Nome do Produto</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="valor" placeholder="Password">
                <label for="floatingInput">Valor do Produto</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="ingredientes" placeholder="Password">
                <label for="floatingInput">Ingredientes do Produto</label>
              </div>  
              <div class="btns d-flex mt-4">
                <button class="btn-back" id="back">Voltar</button>
                <button class="btn-clear" id="clear">Apagar</button>
                <button class="btn-register" id="register">Cadastrar</button>
              </div>
        </form>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/Components/ProductPage/Products.js"></script>
</body>
</html>