

/* navbar imagem de fundo (banner) 
.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .overlay,
  .header .btn { display: none; }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 20px;
    z-index: 4;
  }
  
  .header.active {
    position: fixed;
    background-color: var(--white);
    box-shadow: var(--shadow-2);
    animation: slideIn 0.5s ease forwards;
  }
  
  @keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  
  .header-action { margin-inline-start: auto; }
  
  .login-btn,
  .nav-open-btn {
    padding: 12px;
    color: var(--marigold);
  }
  
  .login-btn { font-size: 1.8rem; }
  
  .nav-open-btn { font-size: 2.2rem; }
  
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    padding: 50px 40px;
    visibility: hidden;
    transition: 0.35s var(--cubic-out);
    z-index: 2;
  }
  
  .navbar.active {
    transform: translateX(100%);
    visibility: visible;
    transition-duration: 0.5s;
  }
  
  .nav-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--davys-gray);
    font-size: 2.8rem;
    border: 2px solid var(--light-gray);
    border-radius: var(--radius-circle);
    padding: 2px;
  }
  
  .nav-close-btn ion-icon { --ionicon-stroke-width: 35px; }
  
  .navbar .logo { margin-block-end: 30px; }
  
  .navbar-item { border-block-end: 1px solid var(--light-gray); }
  
  .navbar-link {
    color: var(--eerie-black);
    padding-block: 12px;
  }
  
  .navbar-link:is(:hover, :focus-visible) { color: var(--jet); }
  /* -----------------------fim da heading----------------------- *//* food banner da navbar 
.food { padding-block-start: calc(var(--section-padding) + 5px); }

.food .container {
  display: grid;
  gap: 80px;
}

.food-text { margin-block: 8px 40px; }


  /**
   * food
   

   .navbar-banner { 
    align-items: absolute;
    }

  /**
   * HEADER
   

   .navbar {
    max-width: 428px;
    left: -430px;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    z-index: 1;
    opacity: 0;
    transition: var(--transition-1);
    visibility: hidden;
  }

  .overlay.active {
    visibility: visible;
    opacity: 0.7;
  } */

