
body {
    background-image: url('/Components/Images/restaurant-register.jpg');
    background-repeat: no-repeat;
    background-position:right;
    background-size:cover;
}

/* .form-body {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CCC;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 650px;
    margin-top: 30px;
}  */

.form-body {
    background-color: #fff;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#floatingInput {
    width: 500px;
}

.btns button {
    background-color:#ff6663;
    color: #fff;
    font-size:14px;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    transition: 0.3s background-color;
    width: 160px;
}

.btns button:hover {
    background-color: black;
}

.btns{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 0;
    margin-left: 0;
}


