body {
    background-image: url('../Images/Pucpr-logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:  center right;
}


.form-body {
    background-color: #fff;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.form-body .btns button {
    background-color:#ff6663;
    color: #fff;
    font-size:14px;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    transition: 0.3s background-color;
    width: 250px;
}

.btns button:hover {
    background-color: black;
}

.btns{
    align-items: center;
    justify-content:space-between;
    margin-right: 0;
    margin-left: 0;
}


