<!DOCTYPE html>
<html lang="pt-br">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pagamento.css">
    <title>PIX</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="first-content">
                <div class="first-column">
                    <div class="itens-esquerda">
                        <div class="titulo">
                                <h2 class="title"> Forma de pagamento </h2>
                                </div>
                                <div class="botoes">
                                    <a href="pagamento.html"><button class="btn" id="btn-boleto" style= "border: 3px solid #58C22E"> PIX </button></a>
                                    <a href="cartao.html"><button class="btn" id="btn-cartao"> Cartão de crédito </button></a>            
                                </div>
                        </div>
                    </div>  
                    <div class="second-column">
                        <div class="cartao">
                            <div class="campo-1">
                                <label class="cod-pix"> Chave PIX </label>
                                <input type="text" id="nome">
                            </div>
                            
                            <div class="campo-2">
                                <label class="qrcode-pix"> QRCODE </label><br>
                                <input type="text" id="qrcode-pix">
                            </div>
                        </div> 
                        
                        <div class="pedido">
                            <div class="pedido-content">
                                <div class="coluna-pedido">  
                                    <div class="title-pedido">
                                        <h3 class="titulo-pedido"> Resumo do pedido </h3>
                                    </div>
                                    <div class="itens">
                                        <ol>
                                            <li>ítem 1</li>
                                            <li>ítem 2</li>
                                            <li>ítem 3</li>
                                        </ol>
                                    </div>
                                        
                                    <div class="endereco">
                                        <ol>
                                            <li>ítem 1</li>
                                            <li>ítem 2</li>
                                            <li>ítem 3</li>
                                        </ol>
                                        
                                    </div>
  
                                    </div>  
                                    
                                </div>      
                            </div>   
                            <div class="div-finalizar">
                                <button class="btn" id="btn-finalizar" > Finalizar </button> 
                            </div>
                        </div>  
                    </div>    
                </div>                  
            </div>    
        </div>     
    </div>
</body>
</html>